<% include ./partials/header.ejs %>
<div class="container">
<h1>Harsha Vyas</h1>
<p>Harsha Vyas is my mother. She is an English teacher in Lalbahadur Shastri Vidhyalaya. She is really good at coocking.  </p>
</div>
<% include ./partials/footer.ejs %>
