<% include ./partials/header.ejs %>
<div class="container">
<h1>Hemant Kumar Vyas</h1>
<p>Hemant Kumar is my father, he worked as a marketing manager in G.A.C.L company, Gujarat & got retired in 2008. He is very good at problem solving. he's always been my inspiration.  </p>
</div>
<% include ./partials/footer.ejs %>
