<% include ./partials/header.ejs %>
<div class="container">
<h1>Hirangee Vyas</h1>
<p>Hirangee is my elder sister. She is married & has been settled in USA form last 8 years. She is working there in a pharmaceutical company. she loves to read books & watching movies.</p>
</div>
<% include ./partials/footer.ejs %>
