<% include ./partials/header.ejs %>
<div class="container">
<h1>Hi there, I'm Priyank Vyas</h1>
<p>I’m from India, where I completed my Bachelor of Engineering & worked as a Web/UI designer in one of the best mobile and web application development company OpenXcell for good 2.5 years & designed various application for Android , iOS and Web.</p>

<p>With a strong desire to learn to learn web development I enrolled for the course of Interactive Web Design and Development in Georgian College, Barrie, Ontario.</p>
</div>
<% include ./partials/footer.ejs %>
